:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --akcent: #2196f3;
  --button-second: #f5f4fa;
}
a {
  text-decoration: none;
}

.page {
  background: #f5f4fa;
  color: #212121;
  font-family: "roboto", sans-serif;
}

.logo {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-color {
  color: var(--akcent);
}

.logo:hover {
color: var(--akcent);
}

.list {
list-style: none;
}
/* site-nav */
.site-nav a {
color: var(--primary-text-color);
}
.site-nav .link.current {
  color: var(--akcent);
}
.site-nav :hover,
.site-nav :focus {
color: var(--akcent);
}

/* contact list */
.site-nav-contact a {
color: var(--secondary-text-color);
}
.site-nav-contact :hover,
.site-nav-contact :focus {
color: var(--akcent);
}

/* hero */
.hero-title {
color: var(--white-text-color);
}

/* section */
.section-title {
color: var(--primary-text-color);
}
/* feauteres */
.feauteres-title {
color: var(--secondary-text-color);
}
/* button */
.button {
  color: var(--white-text-color);
  background-color: var(--akcent);
  font-family: Roboto;
  font-family: inherit;
 font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}

.button-second {
color: var(--primary-text-color);
  background-color: var(--button-second);
}

  /* white-text-title*/
  .white-text-title  {
    color: var(--white-text-color);
  }
  .footer-text-title {
    color: var(--secondary-text-color);
  }
  .footer-white-title {
    color: var(--white-text-color);
  }
}
/* partfolio-text-title */
.partfolio-text-title {
color: var(--secondary-text-color);
}