:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --akcent: #2196f3;
  --button-second: #f5f4fa;
}
/* цвет основного текста */
body {
  background: #f5f4fa;
  color: #212121;
  font-family: roboto, sans-serif;
}
/* вторичный цвет текста */
color: #757575;

/* белый текст */
color: #ffffff;

/* акцент */
color: #2196f3;

/* цвет основного фона */
background: #f5f4fa;

/* вторичный цвет фона */
background: #f5f4fa;

.logo {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
}

.logo:hover {
  text-decoration: none;
  color: var(--akcent);
}

.list {
  text-decoration: none;
  list-style: none;
}
/* site-nav */
.site-nav a {
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav .link.current {
  color: var(--akcent);
}
.site-nav :hover,
.site-nav :focus {
  text-decoration: none;
  color: var(--akcent);
}

/* contact list */
.site-nav-contact a {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.site-nav-contact :hover,
.site-nav-contact :focus {
  text-decoration: none;
  color: var(--akcent);
}

/* hero */
.hero-title {
  text-decoration: none;
  color: var(--white-text-color);
}

/* section */
.section-title {
  text-decoration: none;
  color: var(--primary-text-color);
}
/* feauteres */
.feauteres-title {
  text-decoration: none;
  color: var(--secondary-text-color);
}
/* button */
.button {
  text-decoration: none;
  color: var(--white-text-color);
  background-color: var(--akcent);
}

.button-second {
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--button-second);
}

  /* white-text-title*/
  .white-text-title  {
    text-decoration: none;
    color: var(--white-text-color);
  }
  .footer-text-title {
    text-decoration: none;
    color: var(--secondary-text-color);
  }
  .footer-white-title {
    text-decoration: none;
    color: var(--white-text-color);
  }
}
/* partfolio-text-title */
.partfolio-text-title {
  text-decoration: none;
  color: var(--secondary-text-color);
}